@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

h1{
	font-family: 'Oleo Script', cursive;
	font-size:50px;
	text-align: center;
	color: #65451F;
	
}

p{
	font-family: 'din', cursive;
	font-weight: 100;
	color: #65451F
}

a{
	color: #65451F;
}
footer{
	height: 10vh;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	flex-wrap: wrap;
}

.item{
	width: 50%;
	height: 70vh;
	flex-basis: 500px;
	min-width: 300px;
}

#map{
	height: 70vh;
	border-radius: 10px;
}

.grid_container{
	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-columns: 2fr 1fr;
	gap: 1em;

}

.grid_item{
	background-color: lightblue;
	border-radius: 10px;
}

.table{
	grid-column: span 2;
}

.footer_container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer_item{
	flex-basis: 200px;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}
